* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.Header {
    padding: 2rem;
    background-color: lime;
    display: flex;
    justify-content: space-between;

}

.Logo {
    font-size: 2rem;
    color: white;

}

.nav-menu {

    display: inherit;
    gap: 1.3rem;
}